html {
  --color-backgroud: rgb(51, 48, 48);
  --color-headings: rgb(133, 125, 125);
  --color-others: rgb(206, 195, 195);
  --color-backdrop: rgba(51, 48, 48, 0.8);
}

body {
  margin: 0;
}

.backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--color-backdrop);
  width: 100%;
  height: 100%;
}

.player-modal {
  display: none;
  position: fixed;
  text-align: center;
  background-color: var(--color-others);
  left: 20%;
  right: 20%;
  padding: 20px;
  border-radius: 10px;
}

.player-modal h2 {
  margin: 0;
  color: var(--color-backgroud);
  font-size: 2rem;
}

aside form {
  padding: 20px 0;
}

aside form label {
  font-size: 1.2rem;
  color: var(--color-backdrop);
}

aside form input {
  display: block;
  margin: auto;
  color: var(--color-backgroud);
  padding: 10px 5px;
  border: 1px solid rgb(51, 48, 48);
  border-radius: 4px;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.player-modal .player-modal-btns {
  margin: 2px;
}

header {
  background-color: var(--color-backgroud);
  text-align: center;
}

header h1 {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  color: var(--color-headings);
  font-size: 1.5rem;
}

header p {
  margin: 0;
  padding-bottom: 20px;
  color: var(--color-others);
  font-size: 0.5rem;
}

.player-naming-section {
  text-align: center;
}

.player-naming-card {
  list-style: none;
  display: flex;
  text-align: center;
  width: 100%;
  justify-content: center;
  padding-inline-start: 0;
}

.player-naming-card li {
  width: 50%;
}

.player-naming-card .player-1,
.player-2 {
  background-color: var(--color-backgroud);
  margin: 20px 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px;
}

.player-naming-section h3 {
  font-size: 0.5rem;
  color: var(--color-headings);
}

.player-naming-section h2 {
  font-size: 1rem;
  font-weight: bold;
  color: var(--color-others);
}

.player-naming-card button {
  background-color: transparent;
  border: 0;
  font-size: 0.5rem;
  color: var(--color-headings);
  cursor: pointer;
}

.player-naming-card button:hover {
  color: var(--color-others);
}

.btn {
  background-color: var(--color-backgroud);
  border: 0;
  border-radius: 5px;
  font-size: 0.5rem;
  color: var(--color-others);
  margin: 0;
  padding: 10px 30px;
}

.btn:hover {
  background-color: var(--color-headings);
  color: var(--color-backgroud);
  cursor: pointer;
}

@media (min-width: 850px) {
  header h1 {
    font-size: 2.5rem;
  }
  header p {
    font-size: 1rem;
  }

  .player-modal {
    left: 25%;
    right: 25%;
  }

  aside form input {
    width: 60%;
    box-sizing: border-box;
  }

  .player-naming-card li {
    width: 40%;
  }

  .player-naming-card button {
    font-size: 1rem;
  }

  .player-modal h2 {
    margin: 0;
    color: var(--color-backgroud);
    font-size: 1rem;
  }

  .player-naming-section h2 {
    font-size: 2rem;
  }

  .player-naming-section h3 {
    font-size: 1rem;
  }

  aside form label {
    font-size: 1.2rem;
  }

  .btn {
    font-size: 1rem;
  }
}

@media (min-width: 1100px) {
  .player-naming-card li {
    width: 30%;
  }
}
@media (min-width: 1500px) {
  .player-naming-card li {
    width: 20%;
  }
}
